.tasks-table {
  margin-top: 15px;

  .tb-row {
    display: flex;
    align-items: center;
    padding: 10px;

    .name {
      width: 40%;
    }

    .status {
      width: 20%;
    }

    .actions {
      width: 40%;
    }
  }

  .tb-header {
    background-color: #00b4d8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;

    .tb-row {
      height: 45px;

      .actions {
        text-align: right;
      }
    }
  }

  .tb-body {
    .tb-row {
      background-color: #eeeeee;
      border-radius: 5px;
      margin-top: 10px;

      .actions {
        display: flex;
        justify-content: flex-end;

        button:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
