.tasks-table {
  margin-top: 15px;

  .tb-row {
    display: flex;
    align-items: center;
    padding: 10px;

    .name {
      width: 25%;
    }

    .description {
      width: 30%;
    }

    .status {
      width: 20%;
    }

    .actions {
      width: 25%;
    }
  }

  .tb-header {
    background-color: #00b4d8;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;

    .tb-row {
      height: 45px;

      .actions {
        text-align: right;
      }
    }
  }

  .tb-body {
    .tb-row {
      background-color: #eeeeee;
      border-radius: 5px;
      margin-top: 10px;

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .actions {
        display: flex;
        justify-content: flex-end;

        button:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
