.tasks-table {
  margin-top: 15px;

  .tb-row {
    display: flex;
    align-items: center;
    padding: 5px 3px;

    .name {
      width: 40%;
    }

    .status {
      width: 20%;
    }

    .actions {
      width: 40%;
    }
  }

  .tb-header {
    background-color: #00b4d8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;

    .tb-row {
      height: 34px;

      .actions {
        text-align: right;
      }
    }
  }

  .tb-body {
    .tb-row {
      .actions {
        display: flex;
        justify-content: flex-end;

        button {
          background: rgba(51, 51, 51, 0.05);
          border-width: 0;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          box-sizing: border-box;
          color: #333333;
          cursor: pointer;
          display: inline-block;
          font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
          line-height: 16px;
          min-height: 40px;
          outline: 0;
          padding: 8px 10px;
          text-align: center;
          text-rendering: geometricprecision;
          text-transform: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: middle;

          button:hover,
          button:active {
            background-color: initial;
            background-position: 0 0;
            color: #ff4742;
          }

          button:active {
            opacity: 0.5;
          }

          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
