$primary_color: #00b4d8;

.add-new-task {
  display: flex;

  .add-button button {
    width: 150px;
    height: 39px;
    margin-left: -1px;
    background-color: $primary_color;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
}

.new-task-popup {
  .buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .btn:first-child {
      margin-right: 10px;
    }
  }
}
